html {
    font-size: 62.5%;
}

body {
    color: $font-color;
    font-family: $font-stack-lato;
    @include font-size(16, 10);
    line-height: $line-height;
    margin: 0;
    padding-top: 8.3rem;
    @include screen ('tablet') {
        padding-top: 12rem;
    }
}

.section {
    margin: 0 auto;
    padding: 2rem 0;
    @include clearfix;
}

.section:nth-child(odd) {
    background-color: $lighter-grey;
}

.container {
    //padding: 0;
}

.anchor {
    display: block;
    position: relative;
    top: -8.8rem;
    visibility: hidden;
    @include screen ('tablet') {
        top: -8.8rem;
    }
    @include screen ('laptop') {
        top: -15.1rem;
    }
    @include screen ('desktop') {
        top: -15.9rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

h1 {
    color: $h1-color;
    font-family: $font-stack-lato;
    @include font-size(34, 10);
}

h2 {
    font-family: $font-stack-lato;
    @include font-size(22, 10);
    text-align: center;
    @include screen ('laptop') {
        @include font-size(41, 10);
        line-height: 5rem;
        margin-bottom: 3.5rem;
    }
}

h3 {
    @include font-size(16, 10);
    line-height: 2rem;
}

h4 {
    @include font-size(14, 10);
    line-height: 2rem;
}

p {
    font-weight: 300;
    margin-bottom: 2rem;
}

ul {
    color: $font-color;
    font-weight: 300;
    margin-bottom: 2rem;
    padding-left: 2rem;

    li {
        margin-bottom: 1rem;
    }
}

small {
    font-size: 1.2rem;
}

.btn {
    padding: 1.2rem;
}

.btn-primary {
    background-color: $btn-primary;
    border-radius: 0;
    color: $white;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
