.anchor {
    display: block;
    position: relative;
    top: -8.3rem;
    visibility: hidden;
}

.section {
    margin: 0 auto;

    .app-badge {
        margin-bottom: 2em;
    }

    .popover {
        //z-index: 4000;
    }
}
