.anchor {
    display: block;
    position: relative;
    top: -8.3rem;
    visibility: hidden;
}

.section {
    margin: 0 auto;
    z-index: 1000;

    .app-badge {
        margin-bottom: 2em;
    }
}
