.footer {
    padding: 3rem 1.5rem;

    .img-responsive {
        max-width: 20rem;
        margin: 0 auto;
        padding-top: 1em;

        @include screen ('tablet') {
            padding-top: 0;
        }
    }
}
