.header-content {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 30;

    .header {
        background-color: $white;
        height: 8.3rem;

        .logo {
            display: inline-block;

            img {
                margin: 2.0rem auto;
                max-width: 60%;
            }
        }
    }
}
@import './nav.scss';
