.header-content {
    background-color: $white;
    border-bottom: 0.1rem solid $light-grey;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 30;

    .container {
        padding: 0;
    }

    .header {
        background-color: $white;
        height: 6.7rem;
        @include screen ('tablet') {
            height: 10.4rem;
        }
        @include screen ('desktop') {
            height: 19.4rem;
        }

        .logo {
            display: inline-block;

            img {
                margin: 2rem auto;
                max-width: 50%;
            }
        }
    }
}
// @media (min-width: 426px) and (max-width: 767px) {
//     .header-content {
//         .header {
//             height: 9.2rem;
//
//             .logo img {
//                 max-width: 40%;
//             }
//         }
//     }
//
//     .hero {
//         margin-top: 0.9rem;
//     }
// }
@import './nav.scss';
