.hero {
    background: url("../images/SB-WebImage_2070x739.jpg") no-repeat;
    background-position-x: 50%;
    background-size: cover;
    min-height: 30rem;
    margin: 0;
    @include screen ('desktop') {
        min-height: 39.5rem;
        margin-top: 4.5rem;
    }
    @include screen ('lg-desktop') {
        min-height: 45rem;
        margin-top: 4.5rem;
    }

    .caption {
        color: $white;
        margin: 20rem auto 0;
        text-transform: uppercase;
        @include screen ('tablet') {
            margin-top: 22rem;
        }
        @include screen ('desktop') {
            margin-top: 24rem;
        }
        @include screen ('lg-desktop') {
            margin-top: 32rem;
        }

        h1 {
            margin-bottom: 1rem;
            @include screen ('desktop') {
                @include font-size(60, 10);
                line-height: 7.5rem;
            }
        }

        p {
            color: $white;
            @include font-size(12, 10);
            letter-spacing: 0.125em;
            line-height: 2rem;
            @include screen ('desktop') {
                @include font-size(16, 10)
            }
        }
    }

    .visible-lg {
        @include screen ('desktop') {
            display: inline-block !important;
            margin: 0 1.5rem;
        }
    }
}
