.hero {
    background: url("../images/hero-bg.jpg") no-repeat;
    background-position-x: 50%;
    background-size: cover;
    min-height: 30rem;
    margin: -1.5rem 0 0;
    @include screen ('desktop') {
        margin-top: 5rem;
    }
    @include screen ('lg-desktop') {
        //min-height: 45rem;
        margin-top: 7.5rem;
    }

    .caption {
        color: $white;
        margin: 21rem auto 0;
        text-transform: uppercase;
        @include screen ('tablet') {
            //margin: 22rem auto 0;
        }
        @include screen ('desktop') {
            margin: 26.5rem auto 0;
        }
        @include screen ('lg-desktop') {
            margin: 34rem auto 0;
        }

        h1 {
            margin-bottom: 1rem;
            @include screen ('desktop') {
                @include font-size(60, 10);
                line-height: 7.5rem;
            }
        }

        p {
            color: $white;
            @include font-size(12, 10);
            letter-spacing: 0.125em;
            line-height: 2rem;
            @include screen ('desktop') {
                @include font-size(16, 10)
            }
        }
    }

    .visible-lg {
        @include screen ('desktop') {
            display: inline-block !important;
            margin: 0 1.5rem;
        }
    }
}
