@media (min-width: 1200px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .header {
        .logo {
            .img-responsive {
                margin: 30px auto 15px;
                max-width: 33%;
            }
        }

        .navbar-default {
            .navbar-nav {
                float: none;
                margin: auto;
                width: 972px;
            }

            .navbar-nav > .active > a {
                background-color: transparent;
                color: $transit-red;
            }
        }

        .navbar {
            position: relative;
            top: auto;
        }
    }

    .hero {
        padding: 30px;

        .caption {
            color: $white;
            font-size: 2rem;
            margin-top: 180px;
            text-transform: uppercase;

            h1 {
                color: $transit-yellow;
                font-family: Helvetica, arial, sans-serif;
                font-size: 6rem;
                text-transform: uppercase;
            }
        }
    }
}
