// Bootstrap navbar overrides

.navbar-default {
    background-color: $white;
    border: none;
    height: 6rem;
    margin-bottom: 0;
    border-bottom: 1px solid $light-grey;
    z-index: 20;
    @include screen ('laptop') {
        height: 13rem;
    }

    .navbar-header {
        height: 6rem;
        @include screen ('laptop') {
            display: block;
            float: none;
        }
    }

    .navbar-left,
    .navbar-right {
        @include screen ('lg-tablet') {
            float: none !important;
        }
    }

    .navbar-toggle {
        border: none;
        margin: 1rem;
        z-index: 30;
        @include screen ('lg-tablet') {
            display: inline-block;
            margin: 1rem 1.5rem !important;
        }
        @include screen ('laptop') {
            display: none;
        }

        &:focus,
        &:hover {
            background-color: transparent;
        }

        .icon-bar {
            background-color: $black !important;
        }
    }

    .navbar-collapse {
        background-color: $lighter-grey;
        border-top: none;
        min-width: 32rem;
        max-height: 46rem;
        overflow-y: scroll;
        opacity: 0.96;
        //margin-top: 1.1rem;
        margin-top: 0;
        @include screen ('tablet') {
            margin-top: 1.1rem;
        }
        @include screen ('laptop') {
            background-color: $white;
            margin-top: 0;
        }
    }

    .navbar-collapse.collapse {
        @include screen ('lg-tablet') {
            display: none!important;
        }
        @include screen ('laptop') {
            display: block !important;
        }
    }

    .collapse.in {
        @include screen ('landscape') {
            max-height: 25rem !important;
            overflow-y: scroll !important;
        }
        @include screen ('lg-tablet') {
            display: block !important;
        }
    }

    ul.nav {
        li {
            margin-bottom: 0;
        }
    }

    .navbar-nav {
        margin-top: 0;
        @include screen ('lg-tablet') {
            float: none !important;
        }
        @include screen ('lg-laptop') {
            margin-top: 2rem;
        }
    }

    .navbar-nav > li {
        @include screen ('lg-tablet') {
            float: none;
        }
    }

    .navbar-nav > li > a {
        cursor: pointer;
        @include font-size(18, 10);
        font-weight: 700;
        letter-spacing: 0.1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        @include screen ('laptop') {
            @include font-size(12, 10);
            padding: 1rem 2rem;
        }
        @include screen ('lg-laptop') {
            padding: 1rem 1.8rem;
        }
        @include screen ('desktop') {
            padding: 1rem 2.95rem;
        }
    }

    .navbar > .active > a {
        color: $transit-red;
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:focus,
    .navbar-nav > .active > a:hover {
        background-color: transparent;
        color: $transit-red;
    }

    .navbar-nav > li > a:focus,
    .navbar-nav > li > a:hover {
        background-color: transparent;
        color: $transit-red;
    }
}

.navbar-toggle {
    float: left;
}
