.app {}

.fares {
    h3,
    h4 {
        border-bottom: 0.1rem solid $light-grey;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
    }

    h4 {
        color: $transit-blue;
    }
}

.map {}

.special-service {}

.gameday {}

.trip-tools {
    h3 {
        text-transform: uppercase;
    }

    h4 {
        color: $transit-blue;
        font-size: 2.3rem;
    }
}

.lost-found {
    h3 {
        text-align: center;
    }
}

.event-info {}
