.park-n-ride {
    .st0 {
        fill: #58595B;
    }

    .st1 {
        fill: #FFFFFF;
        stroke: #58595B;
        stroke-width: 0.3;
    }

    .st2 {
        fill: #FFF9E5;
    }

    .st3 {
        fill: #FFFFFF;
    }

    .st4 {
        fill: none;
        stroke: #FFD200;
        stroke-width: 3.903;
        stroke-linecap: round;
    }

    .st5 {
        fill: none;
        stroke: #FFD200;
        stroke-width: 1.1381;
        stroke-linecap: round;
    }

    .st6 {
        display: none;
        fill: none;
        stroke: #FFD200;
        stroke-width: 1.1381;
        stroke-linecap: round;
    }

    .st7 {
        display: none;
        fill: none;
        stroke: #BFBFBF;
        stroke-width: 1.1381;
        stroke-linecap: round;
    }

    .st8 {
        fill: #41AD49;
    }

    .st9 {
        font-family: 'AvenirLTStd-Heavy';
    }

    .st10 {
        font-size: 9.2065px;
    }

    .st11 {
        fill: #CA422C;
    }

    .st12 {
        fill: #25408F;
    }

    .st13 {
        fill: #846DAB;
    }

    .st14 {
        letter-spacing: -1;
    }

    .st15 {
        fill: #00A1E4;
    }

    .st16 {
        fill: #5C4B79;
    }
}
