/*##############################
    Color scheme
##############################*/
$transit-blue: #0053a0;
$transit-red: #ed1b2e;
$transit-yellow: #ffd200;
$black: #000000;
$lighter-grey: #f7f6f6;
$light-grey: #d6d6d6;
$medium-grey: #aaaaaa;
$dark-grey: #606060;
$white: #ffffff;
$font-color: $dark-grey;
$link-color: $transit-blue;
$h1-color: $transit-yellow;
$btn-primary: $transit-blue;
$fill-color: $transit-blue;
/*##############################
    Font colors
##############################*/
$body-color: $dark-grey;
/*##############################
    Spacing
##############################*/
$line-height: 2rem;
